.ipsc-practice-setup-form {
    .range-slider {
      -webkit-appearance: none;
      width: calc(100% - 3.5rem);
      height: 9px;
      border-radius: 3px;
      background: var(--secondary-color);
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        box-shadow: 1px 1px 1px var(--text-color), 0 0 1px #0d0d0d;
        width: 16px;
        height: 36px;
        margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        box-shadow: 1px 1px 1px var(--text-color), 0 0 1px #0d0d0d;
        width: 16px;
        height: 36px;
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
      }

      &::-ms-thumb {
        box-shadow: 1px 1px 1px var(--tertiary-color), 0 0 1px #0d0d0d;
        width: 16px;
        height: 36px;
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
      }

      &:focus {
        outline: none;

        &::-ms-fill-lower {
          background: var(--secondary-color);
        }

        &::-ms-fill-upper {
          background: var(--tertiary-color);
        }
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 9px;
        border-radius: 3px;
        background: var(--secondary-color);
        cursor: pointer;
      }

      &::-moz-range-track {
        width: 100%;
        height: 9px;
        border-radius: 3px;
        background: var(--secondary-color);
        cursor: pointer;
      }

      &::-ms-track {
        width: 100%;
        height: 9px;
        border-radius: 3px;
        background: var(--secondary-color);
        cursor: pointer;
      }

      &::-ms-fill-lower {
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
        background: var(--tertiary-color);
      }

      &::-ms-fill-upper {
        box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        border: 1px solid var(--secondary-color);
        border-radius: 3px;
        background: var(--tertiary-color);
      }
    }
}
