.slide-next-enter-active,
.slide-back-enter-active,
.slide-next-leave-active,
.slide-back-leave-active {
  transition: all .6s ease;
}

.slide-next-enter-from {
  height: 0;
  opacity: 0;
  transform: translateX(0);
}
.slide-next-leave-to {
  height: 0;
  opacity: 0;
  transform: translateX(-1.5rem);
}

.slide-back-enter-from {
  height: 0;
  opacity: 0;
  transform: translateX(0);
}
.slide-back-leave-to {
  height: 0;
  opacity: 0;
  transform: translateX(1.5rem);
}
