@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --orange-color: #eb9130;
    --secondary-color: #46515a;
    --tertiary-color: #393839;
    --text-color: #535353;
    --white-color: #fff;
    --danger-color: #dc3545;
  }
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
}
