@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --breakpoint-2xl: 1280px;
  --breakpoint-xl: 1024px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xs: 480px;

  --font-sans: 'Nunito', sans-serif;

  --color-primary: #eb9130;
  --color-primary-50: #fef9ee;
  --color-primary-100: #fcf1d8;
  --color-primary-200: #f8dfb0;
  --color-primary-300: #f4c77d;
  --color-primary-400: #eea549;
  --color-primary-500: #eb9130;
  --color-primary-600: #db721b;
  --color-primary-700: #b65718;
  --color-primary-800: #91461b;
  --color-primary-900: #753a19;
  --color-primary-950: #3f1c0b;

  --color-secondary: #46515a;
  --color-secondary-50: #f4f6f7;
  --color-secondary-100: #e3e7ea;
  --color-secondary-200: #cad3d7;
  --color-secondary-300: #a5b4bb;
  --color-secondary-400: #798c97;
  --color-secondary-500: #5d707d;
  --color-secondary-600: #505f6a;
  --color-secondary-700: #46515a;
  --color-secondary-800: #3e464c;
  --color-secondary-900: #373c42;
  --color-secondary-950: #21262b;

  --color-tertiary: #393839;
  --color-tertiary-50: #f6f6f6;
  --color-tertiary-100: #e7e7e7;
  --color-tertiary-200: #d1d1d1;
  --color-tertiary-300: #b0b0b0;
  --color-tertiary-400: #888888;
  --color-tertiary-500: #6d6d6d;
  --color-tertiary-600: #5d5d5d;
  --color-tertiary-700: #535353;
  --color-tertiary-800: #454545;
  --color-tertiary-900: #3d3d3d;
  --color-tertiary-950: #262626;

  --color-content: #535353;
  --color-transparent: transparent;
  --color-white: #ffffff;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100 900;
  src: url('@/public/fonts/Nunito/Nunito-VariableFont_wght.eot');
  src: url('@/public/fonts/Nunito/Nunito-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
  url('@/public/fonts/Nunito/Nunito-VariableFont_wght.woff') format('woff'),
  url('@/public/fonts/Nunito/Nunito-VariableFont_wght.woff2') format('woff2'),
  url('@/public/fonts/Nunito/Nunito-VariableFont_wght.svg#Nunito-VariableFont_wght') format('svg'),
  url('@/public/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype'),
  url('@/public/fonts/Nunito/Nunito-VariableFont_wght.otf') format('otf');
}

body {
  font-family: 'Nunito', sans-serif;
}
